<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Collaborative Map</title>

	<link rel="stylesheet" href="css/style.css" />

	<meta name="keywords" content="map" />
	<meta name="robots" content="all,index,follow" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=yes" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no" />

</head>
<body>

	<div>
		Collaborative Map Service
	</div>

	<a href="/map">To the map</a>

</body>
</html>